<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решатель ЕГЭ-15</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Решатель ЕГЭ-15: Преобразование логических выражений</h1>
    </header>
    <main>
        <form id="solveForm">
            <label for="task_type">Выберите тип задачи:</label>
            <select name="task_type" id="task_type" style="padding: 1em; font-size: 1em;">
                <option value="bitwise_conjunction">Поразрядная конъюнкция</option>
                <option value="number_segments">Числовые отрезки</option>
                <option value="coordinate_plane">Координатная плоскость</option>
                <option value="function_del">Функция ДЕЛ</option>
            </select>
            <br>
            <label for="input_data">Введите данные:</label>
            <textarea name="input_data" id="input_data" rows="5" cols="40"></textarea>
            <div id="expressionContainer" style="display: none;">
                <label for="expression">Введите выражение:</label>
                <textarea name="expression" id="expression" rows="5" cols="40" placeholder="Введите выражение"></textarea>
            </div>
            <div id="segmentsContainer" style="display: none;">
                <div class="segment">
                    <input type="text" name="segment_name" placeholder="Имя отрезка (например, P)" style="width: 50px;">
                    <input type="text" name="segment" placeholder="Отрезок (например, [4, 15])">
                    <button type="button" class="removeSegment">✖</button>
                </div>
            </div>
            <button type="button" id="addSegment" style="display: none;">➕ Добавить отрезок</button>
            <br>
            <label for="search_type">Что вы ищите:</label>
            <div>
                <button type="button" class="search_type" data-value="min">Минимум</button>
                <button type="button" class="search_type" data-value="max">Максимум</button>
            </div>
            <input type="hidden" name="search_type" id="search_type_input">
            <br>
            <button type="submit">Решить</button>
        </form>
        <div id="resultContainer"></div>
    </main>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>